<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet"/>
    <title>Project 14 - Deploying React over Flask server 1: Bottega's VSCode Analytics app</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='14/14.css') }}">
  </head>
  <body>
    <h1> DEBUG (React/Project 14) -> React deployment wasn't found! (Check build.sh)</h1>
    {% include '_navbar.html' | safe %}
    {{ render_footer() | safe }}
  </body>    
</html>
