<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='09/09.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
    <!-- Las block formulas, para el front (back llevan pymdown-extensions) -->
    <script src="https://cdn.jsdelivr.net/npm/js-polyfills@0.1.43/polyfill.min.js"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-mml-chtml.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="navbar">
                <h1 class="navbar-title">{{ page_title }}</h1>
                <div class="navbar-tools">
                    <button id="zoom-in" class="navbar-button">Zoom +</button>
                    <button id="zoom-out" class="navbar-button">Zoom -</button>
                    <button id="toggle-theme" class="navbar-button">Toggle Dark/Light</button>
                </div>
            </div>
        </nav>
    </header>
    <div class="content-wrapper">
        {{ content | safe }}
    </div>
    <a href="{{ url_for('project09.render_project_09') }}" class="back-link">Back to Library Index</a>
    <script src="{{ url_for('static', filename='09/09.js') }}"></script>
</body>
</html>