<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ scene.title}}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
</head>
<body>
    <canvas id="webgl-canvas"></canvas>
    <script src="{{ url_for('static', filename='11/engines/11_01/11_01_shaderLoader.js') }}"></script>
    {{ render_footer() | safe }}
</body>
</html>