<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Services testing room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="burger">
                <i class="fa-solid fa-code logo"></i>
            </div>
            <div class="site-title">
                <h1>Web Services Testing Framework</h1>
            </div>
                <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="{{ url_for('render_statics', pathName='about') }}">About</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        {% for project in projects %}
            <a href="/{{ project.id }}/" class="item">
                <div class="item-2">
                    <img src="{{ url_for('static', filename=project.id + '/' + project.id + '.png') }}" alt="Project Image">
                    <div class="metadata">
                        <h1 class="title">{{ project.id }}. {{ project.title }}</h1>
                        <p class="desc">{{ project.desc }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    {{ render_footer() | safe }}
    <p class="updated-text">Last updated:<strong> March 21tst, 2025</strong></p>
    <script src="{{ url_for('static', filename='navbar-main.js') }}"></script>
</body>
</html>
