<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='00/404.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>

</head>
<body>
    <canvas id="webgl-canvas"></canvas>
    <div class="main-container">
        <div class="body-wrapper">
            <div class="headings">
                <h1>Hmm, this is a bit weird... looks like the page hasn't been put together yet!</h1>
            </div>

            <div class="links">
                <ul>
                    <li><a href="{{ url_for('home') }}">Go Home</a></li>
                    <li><a href="{{ url_for('render_project', project_id=10) }}" target="_blank">This has been my favourite project!</a></li>
                    <li><a href="{{ url_for('render_statics', pathName='contact') }}">Contact me</a></li>
                </ul>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-bar">
            <a href="https://github.com/alexandrglm" target="_blank"><i class="fa-brands fa-github"></i>@alexandrglm</a>
        </div>
    </footer>
    {% include '_navbar.html' | safe %}
    <script src="{{ url_for('static', filename='00/index_shader.js') }}"></script>
</body>
    {{ render_footer() | safe }}
</html>
